<head>
	<title>RUBYISDEAD.com - update and maintaning legacy Ruby on Rails apps</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
	<meta name="description" content="RUBYISDEAD.com - update and maintaning legacy Ruby on Rails apps" />
	<meta name="keywords" content="ruby, rails, ror, js, ruby on rails, update, maintaining, upgrade, tests, rspec, minitest, capybara" />
	<meta property="og:title" content="RUBYISDEAD.com - update and maintaning legacy Ruby on Rails apps"/>
	<meta property="og:image" content="RUBYISDEAD.com - update and maintaning legacy Ruby on Rails apps"/>
</head>
